.header{
    height: 200px;
    background-image: url('../images/bc.jpg');
    background-size: 50%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    color: red    ;
    /* background-color: green; */
    background-blend-mode: multiply;
}
h3{
    color: magenta;
    text-decoration: underline dotted green;
}
span{
    border: 10px solid purple;
    height: 10000px;
    /* display: none; */
}
.blog{
    background-color: peru;
    box-shadow: 10px 10px 10px 10px grey;
    margin-bottom: 10px;
}